

.top-menu {
  font-size: 0;
  float: right;
  margin-right: $margin-standart;
  &_item {
    display: inline-block;
    &__link {
      display: inline-block;
      height: $header-height;
      line-height: $header-height;
      padding: 0 $margin-small;
      color: transparentize(white, 0.05);
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: bold;
    }
    &:hover {
      .top-menu_item__link {
        -webkit-animation: button-bounce .5s ease-out;
        -o-animation: button-bounce .5s ease-out;
        animation: button-bounce .5s ease-out;
      }
    }
  }
}